.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
    font-size: 1.3em;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
    font-size: 1.3em;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
    font-size: 1.3em;
}

.main-theme{
    background-color: #067E63;
}
.main-theme-text{
    color: white;
    font-size: 1.3em;
}