.wrapperHeader{
    margin-top: 10px    ;
    display: flex;
    position: relative;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li {
    display: inline-block;
    margin-right: 4px;
}
.menu a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.3em;
    font-family: "Segoe Print";
    color: white;
}
.submenu{
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: .7s ease-in-out;
}
.current:hover + .submenu{
    transform: scaleX(1);
}
.submenu:hover{
    transform: scaleX(1);
}

a:hover {
    transform: scale(1.1);
    transition: transform 0.9s;
    border-radius: 5px;
    background: rgba(0,0,0,.2);
}
/*a:hover {*/
/*    font-size: 1.5em;*/
/*    padding: 10px 25px;*/
/*    background: rgba(0,0,0,.2);*/
/*    border-radius: 5px;*/
/*}*/

